# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\calvi\Documents\Arma 3 - Other Profiles\Oh%20Wow,%20Calvin's%20Here%3f\mpmissions\quarry.Altis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
